<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h4>Entradas recientes</h4>
            <ul class="list list-unstyled">
                <li>En bici por Salamanca</li>
                <li>El espíritu deportivo</li>
                <li>Otra entrada</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h4>Enlaces de interés</h4>
            <ul class="list list-unstyled">
                <li>MTB.com</li>
                <li>Todo audio</li>
                <li>Restaurantes gourmet</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h4>Redes sociales</h4>
            <ul class="list list-unstyled">
                <li>Linkedin</li>
                <li>Facebook</li>
                <li>Twitter</li>
            </ul>
        </div>
    </div>
</div>


<p class="signature">
    © Todos los derechos reservados
</p>
