<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a id="logo" class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


        <ul id="main-nav" class="nav navbar-nav">
          <li id="index" class="active"><a href="index.html" onclick="setCurrent('index');">Inicio</a></li>
          <li id="sobre-mi"><a href="sobre-mi.html" onclick="setCurrent('sobre-mi');">Sobre mi</a></li>
          <li id="galeria"><a href="galeria.html" onclick="setCurrent('galeria');">Galeria</a></li>
          <li id="blog"><a href="blog.html" onclick="setCurrent('blog');">Blog</a></li>
          <li id="contacto"><a href="contacto.html" onclick="setCurrent('contacto');">Contacto</a></li>

        </ul>



      <ul class="nav navbar-nav navbar-right">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="ajustes.html"><span class="glyphicon glyphicon-cog"></span> Ajustes</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-edit"></span> Datos personales</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#"><span class="glyphicon glyphicon-off"></span> Salir</a></li>
          </ul>
        </li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<script>

function setCurrent(currentURL){

    sessionStorage.setItem('currentURL', currentURL);
}

// reseteamos el estado de todos los items de menu
$('#main-nav li').each(function(){
    $(this).removeClass('active');
});

// acturlizar estado de la navgación
var current = sessionStorage.getItem('currentURL');
$('#'+current).addClass('active');

// $('#main-nav li').each(function(){
//     // reseteamos el estado de todos los items de menu
//     $(this).removeClass('active');
// });
//
// if(window.location.href.indexOf('index') != -1) {
//     $('#index').addClass('active');
// } else if(window.location.href.indexOf('sobre-mi') != -1){
//     $('#sobre-mi').addClass('active');
// } else if(window.location.href.indexOf('galeria') != -1){
//     $('#galeria').addClass('active');
// } else if(window.location.href.indexOf('blog') != -1){
//     $('#blog').addClass('active');
// } else if(window.location.href.indexOf('contacto') != -1){
//     $('#contacto').addClass('active');
// }

</script>
