body{
    font-family: sans-serif;
}

div.container {
    max-width: 800px;
    margin: 30px auto 0px auto;
}

h1{

}

header h1, header h2, header h3, header h4, header h5, header h6 {

}

header {
    border: solid 1px black;
    padding: 20px;
}

aside {

    display: inline-block;
    width: 8em;
    vertical-align: top;
}
/*  Contenido principal */
main {

    display: inline-block;
    width: 38em;
}

footer{
    border: solid 1px black;
    padding: 20px;
}

#navigation ul{
    margin: 0px;
    padding: 0px;
}

#navigation ul li{
    list-style-type: none;

    border-bottom: solid 1px black;
}

#navigation ul li:hover {
    background-color: grey;

}
#navigation ul li a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px 5px;
}
#navigation ul li a:hover{
    color: white;
    text-decoration: none;
}
