/* fuentes */
body * {
    font-family: 'Roboto', Helvetica, sans-serif;
}
body{
    background-color: LightGray;
}
body p{
    color: LightGray;
}
section.section-title h3{
    color: Maroon;
}
body cite{
    font-size: 1.3em;
    color: LightSlateGray;
    font-weight: 100;
    margin: 1.6em;
    padding-left: .6em;
    border-left: solid 5px black;
}

body code{
    padding: 20px;
    background-color: black;
    color: LimeGreen;
    font-family: Monaco;
}

/* Todos los título de artículos */
main article h1 {
    font-family: "Times New Roman" serif;
}
main article{
    text-align: center;
}

.container{
    width: 600px;
    margin: 0px auto;
    background-color: white;
    padding-right: 20px;
    padding-left: 20px;
}

/* Carrousel */
div.libros ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;

}
div.libros ul li{
    display: inline-block;
    width: 120px;
    height: 250px;
    margin-right: 36px;
    text-align: center;

}
div.libros ul li.last{
    margin-right: 0px;
}
div.libros ul li div.libros-thumb{
    width: 100%;
    text-align: center;
}
div.libros ul li img{
    /* border: auto; */
        box-shadow: #666 0px 0px 3px;
}
div.libros .libro-titulo{
    color: black;
}

div.libros .libro-precio{
    color: green;
}

/* Footer  */
footer{
    background-color: black;
}
