/* Everrides Bootstrap */





/* Site styles */
footer{
    border-top: solid 1px LightGray;
    padding-top: 2em;
    margin-top: 2em;
}
.panel-contacto{
    width: 500px;
}
.error{
    border: solid 1px red;
}

code{
    word-wrap: break-word;
}
